<div class="flex-column justify-content-center height-100 font-helvetica">
    <div class="width-30 width-lx-50 width-l-70 width-m-80 width-s-90 margin-auto">
        <form>
            <div><input type="text" placeholder="Enter username" /></div>
            <div class="error red-text font-13"></div><br>
            <button class="black-bg white-text">Login</button>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./script/login.js"></script>